template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_Copilot_IncidentEnrichment_name": {
            "defaultValue": "Copilot-IncidentEnrichment",
            "type": "String"
        },
        "connections_azuresentinel_2_externalid": {
            "defaultValue": "/subscriptions/3affbdc3-38f2-4efb-a0bb-0ac9280ba152/resourceGroups/Sentinel-SOC/providers/Microsoft.Web/connections/azuresentinel-2",
            "type": "String"
        },
        "connections_office365_3_externalid": {
            "defaultValue": "/subscriptions/3affbdc3-38f2-4efb-a0bb-0ac9280ba152/resourceGroups/Sentinel-SOC/providers/Microsoft.Web/connections/office365-3",
            "type": "String"
        },
        "connections_securitycopilot_externalid": {
            "defaultValue": "/subscriptions/3affbdc3-38f2-4efb-a0bb-0ac9280ba152/resourceGroups/Sentinel-SOC/providers/Microsoft.Web/connections/securitycopilot",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_Copilot_IncidentEnrichment_name')]",
            "location": "uaenorth",
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Microsoft_Sentinel_incident": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "Add_comment_to_incident_(V3)": {
                            "runAfter": {
                                "AuthMethodsFinal": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "incidentArmId": "@triggerBody()?['object']?['id']",
                                    "message": "<p>Dear Analyst,<br>\n<br>\nPlease find the attached details from the automation workflow for Microsoft Security Copilot.<br>\n<br>\n<strong>[+] Incident Summary<br>\n</strong>@{outputs('IncidentSummaryFinal')}<br>\n<br>\n<strong>[+] Investigation Guidance<br>\n</strong>@{outputs('InvesigationGuidanceFinal')}<br>\n<br>\n<strong>[+] Involved Entities<br>\n</strong>@{outputs('EntitiesCopilotFinal')}<br>\n<br>\n<strong>[+] Authentication Methods<br>\n</strong>@{outputs('AuthMethodsFinal')}<br>\n<br>\n<strong>[+] IP Enrichment<br>\n</strong>@{outputs('IPEnrichmentFinal')}<br>\n<br>\n<strong>[+] Domain Enrichment<br>\n</strong>@{outputs('DomainEnrichmentFinal')}<br>\n<br>\n<strong>[+] Filehash Enrichment<br>\n</strong>@{outputs('FileHashEnrichmentFinal')}<br>\n<br>\n<strong>[+] Host Details<br>\n</strong>@{outputs('HostDetailsFinal')}<br>\n<br>\n<strong>[+] Similar Incidents<br>\n</strong>@{outputs('SimilarEntitiesFinal')}<br>\n<br>\n++++++++++++++++++++++++++++++++++++++++++++++++</p>"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/Incidents/Comment"
                            }
                        },
                        "AuthMethods": {
                            "runAfter": {
                                "SimilarEntitiesFinal": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "PromptContent": "Show the authentication methods setup for each user involved in the sentinel  incident id  @{triggerBody()?['object']?['properties']?['incidentNumber']}. Especially indicate whether they have MFA enabled.",
                                    "SessionId": "@body('IncidentSummaryRes')?['sessionId']"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['securitycopilot']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/process-prompt"
                            }
                        },
                        "AuthMethodsFinal": {
                            "runAfter": {
                                "AuthMethodsRaw": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@decodeUriComponent(replace(encodeUriComponent(outputs('AuthMethodsRaw')), '%0A', '%3Cbr%3E'))"
                        },
                        "AuthMethodsRaw": {
                            "runAfter": {
                                "AuthMethods": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@body('AuthMethods')?['Evaluation Result Content']"
                        },
                        "DomainEnrichment": {
                            "runAfter": {
                                "FileHashEnrichmentFinal": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "PromptContent": "If any domain names are involved in the sentinel incident @{triggerBody()?['object']?['properties']?['incidentNumber']}, then perform a generic check on Virustotal and fetch the details if the domain name is malicious.",
                                    "SessionId": "@body('IncidentSummaryRes')?['sessionId']"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['securitycopilot']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/process-prompt"
                            }
                        },
                        "DomainEnrichmentFinal": {
                            "runAfter": {
                                "DomainEnrichmentRaw": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@decodeUriComponent(replace(encodeUriComponent(outputs('DomainEnrichmentRaw')), '%0A', '%3Cbr%3E'))"
                        },
                        "DomainEnrichmentRaw": {
                            "runAfter": {
                                "DomainEnrichment": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@body('DomainEnrichment')?['Evaluation Result Content']"
                        },
                        "EntitiesCopilot": {
                            "runAfter": {
                                "InvesigationGuidanceFinal": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "PromptContent": "Hunt down all the Entities involved with the sentinel incident @{triggerBody()?['object']?['properties']?['incidentNumber']}?",
                                    "SessionId": "@body('IncidentSummaryRes')?['sessionId']"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['securitycopilot']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/process-prompt"
                            }
                        },
                        "EntitiesCopilotFinal": {
                            "runAfter": {
                                "EntitiesCopilotRaw": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@decodeUriComponent(replace(encodeUriComponent(outputs('EntitiesCopilotRaw')), '%0A', '%3Cbr%3E'))"
                        },
                        "EntitiesCopilotRaw": {
                            "runAfter": {
                                "EntitiesCopilot": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@body('EntitiesCopilot')?['Evaluation Result Content']"
                        },
                        "FileHashEnrichment": {
                            "runAfter": {
                                "IPEnrichmentFinal": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "PromptContent": "Check if any file hashes are involved in the sentinel incident @{triggerBody()?['object']?['properties']?['incidentNumber']}, then get the details of the filehash from VT (VirusTotal).",
                                    "SessionId": "@body('IncidentSummaryRes')?['sessionId']"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['securitycopilot']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/process-prompt"
                            }
                        },
                        "FileHashEnrichmentFinal": {
                            "runAfter": {
                                "FileHashRaw": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@decodeUriComponent(replace(encodeUriComponent(outputs('FileHashRaw')), '%0A', '%3Cbr%3E'))"
                        },
                        "FileHashRaw": {
                            "runAfter": {
                                "FileHashEnrichment": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@body('FileHashEnrichment')?['Evaluation Result Content']"
                        },
                        "HostDetails": {
                            "runAfter": {
                                "DomainEnrichmentFinal": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "PromptContent": "For the involved device name or hosts in the sentinel incident @{triggerBody()?['object']?['properties']?['incidentNumber']}, show details from Intune. Especially indicate if it is current on all operating system updates.",
                                    "SessionId": "@body('IncidentSummaryRes')?['sessionId']"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['securitycopilot']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/process-prompt"
                            }
                        },
                        "HostDetailsFinal": {
                            "runAfter": {
                                "HostDetailsRaw": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@decodeUriComponent(replace(encodeUriComponent(outputs('HostDetailsRaw')), '%0A', '%3Cbr%3E'))"
                        },
                        "HostDetailsRaw": {
                            "runAfter": {
                                "HostDetails": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@body('HostDetails')?['Evaluation Result Content']"
                        },
                        "IPEnrichment": {
                            "runAfter": {
                                "EntitiesCopilotFinal": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "PromptContent": "If any public IP addresses are involved in the sentinel incident @{triggerBody()?['object']?['properties']?['incidentNumber']}, then perform a virus total check on the IP address and fetch the details.",
                                    "SessionId": "@body('IncidentSummaryRes')?['sessionId']"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['securitycopilot']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/process-prompt"
                            }
                        },
                        "IPEnrichmentFinal": {
                            "runAfter": {
                                "IPEnrichmentRaw": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@decodeUriComponent(replace(encodeUriComponent(outputs('IPEnrichmentRaw')), '%0A', '%3Cbr%3E'))"
                        },
                        "IPEnrichmentRaw": {
                            "runAfter": {
                                "IPEnrichment": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@body('IPEnrichment')?['Evaluation Result Content']"
                        },
                        "IncidentSummaryFinal": {
                            "runAfter": {
                                "IncidentSummaryResComposeRaw": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@decodeUriComponent(replace(encodeUriComponent(outputs('IncidentSummaryResComposeRaw')), '%0A', '%3Cbr%3E'))"
                        },
                        "IncidentSummaryRes": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "PromptContent": "Perform a brief summarize operation for the sentinel incident id @{triggerBody()?['object']?['properties']?['incidentNumber']}."
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['securitycopilot']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/process-prompt"
                            }
                        },
                        "IncidentSummaryResComposeRaw": {
                            "runAfter": {
                                "IncidentSummaryRes": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "  @{body('IncidentSummaryRes')?['Evaluation Result Content']}"
                        },
                        "InvesigationGuidanceFinal": {
                            "runAfter": {
                                "InvestigationGuidanceRaw": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@decodeUriComponent(replace(encodeUriComponent(outputs('InvestigationGuidanceRaw')), '%0A', '%3Cbr%3E'))"
                        },
                        "InvestigationGuidance": {
                            "runAfter": {
                                "IncidentSummaryFinal": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "PromptContent": "What are the basic investigation steps for the alert \"@{triggerBody()?['object']?['properties']?['title']}\"?",
                                    "SessionId": "@body('IncidentSummaryRes')?['sessionId']"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['securitycopilot']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/process-prompt"
                            }
                        },
                        "InvestigationGuidanceRaw": {
                            "runAfter": {
                                "InvestigationGuidance": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "  @{body('InvestigationGuidance')?['Evaluation Result Content']}"
                        },
                        "Send_an_email_(V2)": {
                            "runAfter": {
                                "Add_comment_to_incident_(V3)": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "<p>Dear Analyst,<br>\n<br>\nPlease find the attached details from the automation workflow for Microsoft Security Copilot.<br>\n<br>\n<strong>[+] Incident Summary</strong><br>\n@{outputs('IncidentSummaryFinal')}<br>\n<br>\n<strong>[+] Investigation Guidance</strong><br>\n@{outputs('InvesigationGuidanceFinal')}<br>\n<br>\n<strong>[+] Involved Entities</strong><br>\n@{outputs('EntitiesCopilotFinal')}<br>\n<br>\n<strong>[+] Authentication Methods<br>\n</strong>@{outputs('AuthMethodsFinal')}<br>\n<br>\n<strong>[+] IP Enrichment</strong><br>\n@{outputs('IPEnrichmentFinal')}<br>\n<br>\n<strong>[+] Domain Enrichment</strong><br>\n@{outputs('DomainEnrichmentFinal')}<br>\n<br>\n<strong>[+] Filehash Enrichment</strong><br>\n@{outputs('FileHashEnrichmentFinal')}<br>\n<br>\n<strong>[+] Host Details</strong><br>\n@{outputs('HostDetailsFinal')}<br>\n<br>\n<strong>[+] Similar Incidents<br>\n</strong>@{outputs('SimilarEntitiesFinal')}<strong><br>\n<br>\n++++++++++++++++++++++++++++++++++++++++++++++++</strong></p>",
                                    "Cc": "Jayesh.D@paramountassure.com",
                                    "Importance": "Normal",
                                    "Subject": "Microsoft Security Copilot | @{triggerBody()?['object']?['properties']?['incidentNumber']} | @{triggerBody()?['object']?['properties']?['title']} ",
                                    "To": "Parth.P@paramountassure.com"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['office365']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            }
                        },
                        "SimilarEntities": {
                            "runAfter": {
                                "HostDetailsFinal": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "PromptContent": "Hunt down if there are some other incidents on Microsoft defender for endpoint and sentinel which involves same hostname or account as the sentinel incident \"@{triggerBody()?['object']?['properties']?['incidentNumber']}\" after the incident.",
                                    "SessionId": "@body('IncidentSummaryRes')?['sessionId']"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['securitycopilot']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/process-prompt"
                            }
                        },
                        "SimilarEntitiesFinal": {
                            "runAfter": {
                                "SimilarEntitiesRaw": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@decodeUriComponent(replace(encodeUriComponent(outputs('SimilarEntitiesRaw')), '%0A', '%3Cbr%3E'))"
                        },
                        "SimilarEntitiesRaw": {
                            "runAfter": {
                                "SimilarEntities": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": "@body('SimilarEntities')?['Evaluation Result Content']"
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[parameters('connections_azuresentinel_2_externalid')]",
                                "connectionName": "azuresentinel-2",
                                "id": "/subscriptions/3affbdc3-38f2-4efb-a0bb-0ac9280ba152/providers/Microsoft.Web/locations/uaenorth/managedApis/azuresentinel"
                            },
                            "office365": {
                                "connectionId": "[parameters('connections_office365_3_externalid')]",
                                "connectionName": "office365-3",
                                "id": "/subscriptions/3affbdc3-38f2-4efb-a0bb-0ac9280ba152/providers/Microsoft.Web/locations/uaenorth/managedApis/office365"
                            },
                            "securitycopilot": {
                                "connectionId": "[parameters('connections_securitycopilot_externalid')]",
                                "connectionName": "securitycopilot",
                                "id": "/subscriptions/3affbdc3-38f2-4efb-a0bb-0ac9280ba152/providers/Microsoft.Web/locations/uaenorth/managedApis/securitycopilot"
                            }
                        }
                    }
                }
            }
        }
    ]
}